POSTGRES_DB=gitddo
POSTGRES_USER=gitddo
POSTGRES_PASSWORD=gitddo
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/gitddo
DB_USERNAME=gitddo
DB_PASSWORD=gitddo

GITHUB_CLIENT_ID=replace-with-your-github-client-id
GITHUB_CLIENT_SECRET=replace-with-your-github-client-secret
SESSION_COOKIE_SECURE=false
SPRINGDOC_ENABLED=true
